footer {
  background-color: black;
  opacity: .8;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0;
  bottom: 0;
  height: 39px;
  width: 100%;
}

.fa {
  color: white;
}
