footer {
  background-color: black;
  opacity: .8;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0;
  bottom: 0;
  height: 39px;
  width: 100%;
  z-index: 1;
}

footer .fa {
  color: white;
}

footer .fa:hover {
  color: blue;
}

footer a:hover {
  text-decoration: none;
}
