.navbar {
  display: inline-flex;
  // position: relative;
  justify-content: space-between;
  background-color: yellow;
  width: 100%;
  height: 69px;

}

.navbar li {
  display: flex;
  padding: 2px 0 19px 29px;
  text-align: center;
  align-items: center;
  font-weight: 700;
  // font-size: 23px;
}

.navbar li h3 {
  margin: 5px auto;
}

.navbar li h5 {
  margin: 5px auto;
}

.nav-logo {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;

}

.nav-left {
  display: flex;
  align-content: flex-start;
  font-size: 23px;
}

.nav-right {
  display: flex;
  margin: 17px 37px 0 0;
}

// .navbar button {
//   border: 1px solid black;
//   border-radius: 11px;
//   background-color: green;
//   padding: 11px;
//   height: 20px;
//   width: 43px;
//   font-size: 16px;
// }
.user-greeting {
  font-size: 16px;
}

.profile-pic {
  display: flex;
  width: 47px;
  height: 47px;
  border-radius: 29px;
}

.profile-pic:hover {
  cursor: pointer;
}

.nav-right input {
  width: 169px;
  font-size: 16px;
}

.header {
  position: relative;
  z-index: 1;
}

.nav-right > li {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

li:hover .dropdown-menu {
  display: block;
}

.dropdown-menu > li {
  border-top: 1px solid #ccc;
  color: #000;
}

.dropdown-menu > li:hover {
  background: #eee;
}
