.new-whiskey-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.new-whiskey-form {
 background-color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 70%;
 height: 80%;
 opacity: .95;
 border-radius: 7px;
}

.new-whiskey-form form {
   display: flex;
   width: 80%;
   flex-direction: column;
   background-color: white;
   border-radius: 5px;
   align-items: center;
}

.new-whiskey-form form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.new-whiskey-form input {
  autofill: 'off';
  width: 80%;
  // width: 279px;
  text-align: center;
  font-size: 16px;
  margin: 19px 0 19px 0;
  height: 31px;
  border-radius: 7px;
}

.new-whiskey-form textarea {
  autofill: 'off';
  // width: 279px;
  width: 80%;
  text-align: center;
  font-size: 16px;
  margin: 19px 0 19px 0;
  height: 31px;
  border-radius: 7px;
}

.add-whiskey-button {
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 18px;
  background-color: ivory;
  font-weight: 900;
  box-shadow: 0px 2px 2px black;
  transition: .3s;
  margin-bottom: 30px;
}

.add-whiskey-button:active {
  box-shadow: none;
  // margin-bottom: 28px;
}
