.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal-form {
  position: absolute;
  bottom: 345px;
  left: 755px;
  margin-left: -272px;
  height: 253px;
  width: 500px;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
}

.modal-close {
  position: absolute;
  top: -23px;
  right: 20px;
  font-size: 64px;
  cursor: pointer;
}

.modal-close:active.modal{
  display: none;
}

.modal-close:hover {
  color: #f00;
}

.modal-form > h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.modal-form > p {
  margin: 0 0 20px 0;
}
