body {
  font-family: 'Raleway', sans-serif;
}

.greeting-container {
 color: #FFFFF0;
 height: 69px;
 display: flex;
 position: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0;
}

.guest {
 display: flex;
 margin-left: 23px;
}

.member {
 display: flex;
 margin: 23px;
}

.greeting-container button {
 flex-direction: row;
 background-color: inherit;
 color: white;
 border-radius: 7px;
 font-size: 18px;
 font-weight: 700;
 padding: 13px 23px 13px 23px;
 margin: 11px;
 border: 2px solid white;
 box-shadow: 0px 1px 1px black;
 transition: .3s;
}

.greeting-container button:hover {
 background-color: white;
 color: black;
 cursor: pointer;
}

.greeting-container a:hover {
  text-decoration: none;
}

.greeting-container button:active {
 box-shadow: none;
 margin-top: 10px;
}

button:focus {
 outline: none;
}

//////// signup/ login (session form) /////////
.login-form-container {
 background-color: white;
 display: flex;
 justify-content: center;
 align-content: center;
 width: 469px;
 // height: 587px;
 position: absolute;
 left: 35%;
 top: 10%;
 opacity: .95;
 border-radius: 29px;
 z-index: 2;
 padding-bottom: 29px;
}

.login-form-container a:hover {
  text-decoration: none;
}

.login-form {
   display: flex;
   width: 383px;
   flex-direction: column;
   background-color: white;
   border-radius: 5px;
   align-items: center;
}

.login-form h1 {
  margin-bottom: 3px;
}

.errors {
  color: red;
}

.login-input {
  autofill: 'off';
  width: 279px;
  text-align: center;
  font-size: 16px;
  margin: 19px 0 19px 0;
  height: 31px;
  border-radius: 7px;
}

.login-input:focus {
  outline: none;
}

.login-message {
}

.close-login-form {
  justify-content: flex-end;
  display: flex;
  text-decoration: none;
  font-size: 36px;
}

.login-box-action {
  margin: 0 0 23px 0;
}

.login-form button {
  background-color: grey;
  opacity: 1;
  height: 39px;
  width: 350px;
  border-radius: 23px;
  text-align: center;
}

.login-lower-message a {
  text-decoration: underline;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.motto {
 position: absolute;
 left: 11%;
 top: 17%;
 display: inline-block;
 flex-direction: column;
 font-size: 48px;
 font-weight: 900;
 color: #f2f2f2;
 font-family: 'Raleway', sans-serif;
 text-shadow: 3px 3px black;
}

.motto * {
  margin: 7px;
}

.motto-container {
 display: flex;
 justify-content: flex-start;
}
