.user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 69px 138px 0 138px;
  border-bottom: 1px solid black;
  background-image: url('https://static.pexels.com/photos/274192/pexels-photo-274192.jpeg');
  background-size: cover;
  opacity: .8;
  font-size: 24px;
  color: white;
}

.user-profile {
  width: 83%;
}

.user-personal-info {
  display: flex;
  align-items: baseline;
  padding-top: 101px;
  
}

.user-checkin-info {
  display: flex;
}

.user-checkin-info li {
  display: inline;
  padding: 23px;

}

.user-checkin-info li:first-of-type {
  border-right: 2px solid black;
}

.user-profile img {
  width: 150px;
  height: 150px;
  border-radius: 79px;
  margin-right: 69px;
}
