.whiskey-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkin-button {
  background-color: green;
  padding: 23px;
  color: white;
  border-radius: 37px;
  margin: 23px;
  font-size: 18px;


}

.checkin-button:hover {
  background-color: limegreen;
}

.whiskey-show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whiskey-description {
  min-height: 100px;
  margin-top: 0;
  padding: 23px 11px;
  flex-direction: column;
}

.whiskey-description span {
  padding-bottom: 5px;
  font-weight: 900;
}
