.whiskey-index-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 11px 122px 0px 189px;
}

.whiskey-index-header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.add-whiskey {
  justify-content: space-around;
}

.whiskey-index-header Link:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.whiskey-index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: red;
}

.whiskey-index-item-container {
  display: inline-flex;
  position: relative;
  justify-content: space-between;
  // background-color: blue;
}

.whiskey-index-item {
  display: flex;
  background-color: white;
  width: 47%;
  height: 47%;
  padding: 37px;
  margin-top: 58px;
  margin-bottom: 1px;
  align-items: flex-start;
  box-shadow: 0px 1px 7px #888888;
  min-height: 200px;
  min-width: 700px;
}

// .whiskey-index-item:first-of-type {
//   margin-top: 138px;
// }

.whiskey-index-item ul {
  display: flex;
  // width: 95%;
}

// whiskey-index-item img {
//   height: 129px;
//   border-right: 1px solid black;
//
// }
.whiskey-photo-checkins {
  display: flex;
  flex-direction: column;
  width: 117px;
  object-fit: cover;

}

// .whiskey-info-container {
//   display: flex;
//   flex-direction: column;
//   // align-items: center;
//   justify-content: flex-start;
//   // background-color: green;
//   width: 300px;
//   height: 101px;
// }

.whiskey-info {
  border-left: 1px solid black;
  margin-left: 37px;
  list-style: none;
}

.whiskey-info li {
  border-bottom: 1px solid black;
  padding: 7px;
  min-width: 200px;
}

.whiskey-info li:last-of-type {
  border: none;

}

.whiskey-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60%;
  height: 123px;
}

.checkins {
  display: flex;
  padding-top: 11px;
}

.rating {
  width: 138px;
  padding-right: 36px;
  padding-bottom: 13px;
}

.whiskey-index-item p {
  border-top: 1px solid black;
}
