.whiskey-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkin-button {
  color: white;
  font-size: 18px;
  width: 200px;
  background: #34495e;
  color: #fff;
  // display: block;
  line-height: 40px;
  text-align: center;
  padding: 0 7px;
  margin-top: 66%;
  // margin-top: 66%;
  // margin-left: 20px;
  // margin-top: 155px;
  // background-color: #3A0505;
}

.index-container-checkins-whiskey-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.index-container-checkins-whiskey-show > div {
  margin: 30px;
  padding: 20px;
}

.edit-button {
  font-size: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

// .checkin-button:hover {
//   background-color: limegreen;
// }

.whiskey-show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whiskey-description {
  min-height: 100px;
  margin-top: 0;
  flex-direction: column;
}

.whiskey-description span {
  padding-bottom: 5px;
  font-weight: 900;
}

.whiskey-description span:last-of-type {
  font-weight: normal;
  font-style: italic;
  font-variant: small-caps;
  font-size: 19px;
}

.whiskey-index-header {
  padding-top: 69px;
}
